[Actions]
# Set TRUE to enable action or FALSE to disable
JSON=TRUE
FTP1=TRUE
FTP2=FALSE
RDS=TRUE
PROSTREAM1=TRUE
PROSTREAM2=TRUE

[XML]
# Using XML from Digispot II Value.Server with XML.Writer module
XMLF=\\server\share\RR-MSK2.xml
#XMLF=C:\Temp\XML\RR-MSK2.xml

[ID]
RARTISTID=7
RTITLEID=17

[RDS]
RDSIP=127.0.0.1
RDSPORT=5001
# Set RDS Connection port type: TCP or UDP
RDSPORTTYPE=UDP
RDSSITE=www.retrofm.ru
RDSCOMMERCIAL=+7(495)6204664
RDSSITE=www.europaplus.ru
# Set RDS Device type: 8700i or SmartGen
RDSDEVICE=8700i

[JSON]
JSONSERVER=http://127.0.0.1/post.php

[FTP1]
FTPSERVER1=127.0.0.1:30021
FTPUSER1=user1
FTPPASS1=pass1
FTPPATH1=/pub/uploads/Radio1/

[FTP2]
FTPSERVER2=127.0.0.1:21
FTPUSER2=user2
FTPPASS2=pass2
FTPPATH2=/

[PROSTREAM]
ZIPSERVER1=prostream-server1
ZIPPORT1=6001
ZIPSERVER2=prostream-server2
ZIPPORT2=6001
